*.txt
out
*.swp
src/*.o
*.xclbin
!bitstreams/hw/single_bitstream/spmv.cpp
!bitstreams/hw/single_bitstream/common/
!bitstreams/hw/single_bitstream/spmv.cpp
!bitstreams/hw/single_bitstream/vecdotprod.cpp
!bitstreams/hw/single_bitstream/common.h
!bitstreams/hw/single_bitstream/utils.mk
!bitstreams/hw/single_bitstream/vecsumprod.cpp
!bitstreams/hw/single_bitstream/Makefile
bin/*
*.jpg
*.png
.DS_Store
